 <!-- Modal-Select -->
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" hidden="true">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body" align="center">
          
            <h3 align="center">Выберите:</h3>
            <br>
                
            <div class="container">
                <div id=outergrid>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-xl-6">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div id="grid-nope" onclick="$('#modal-select_all').modal('hide');CheckAllNvidia();"><%= inline_svg "1/19.svg", class: 'svg-nope' %></div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-xs-12 col-sm-6 col-xl-6">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div id="grid-nope" onclick="$('#modal-select_all').modal('hide');CheckAllAMD();"><%= inline_svg "1/110.svg", class: 'svg-nope' %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <br>
            <button type="button" id="delbutton" class="btn btn-primary" data-dismiss="modal" >Закрыть</button>
        </div>
      </div><!-- /.modal-content -->
    </div>
    
<script>
$(".modal").on("hidden.bs.modal", function(){
    $(".modal-body").html("");
});

$('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
      });
      
autosize($('textarea')); 

function CheckAllNvidia(){
    total.value = 0;
      var w = document.getElementsByTagName('input'); 
      for(var i = 0; i < w.length; i++){ 
        if(w[i].type=='checkbox'){ 
          w[i].checked = true; 
          clickCh(w[i]);
              if(w[i].className=='amd'){
          w[i].checked = false; 
          clickCh(w[i]);
              }
            
        }
      }
  } 

function CheckAllAMD(){
    total.value = 0;
      var w = document.getElementsByTagName('input'); 
      for(var i = 0; i < w.length; i++){ 
        if(w[i].type=='checkbox'){ 
          w[i].checked = true; 
          clickCh(w[i]);
              if(w[i].className=='nvidia'){
          w[i].checked = false; 
          clickCh(w[i]);
              }
            
        }
      }
  } 


</script>