<!DOCTYPE html>
<html>
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3472928376460616",
    enable_page_level_ads: true
  });
</script>

  <title>Топовый Комп</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  <div class="container">
        <div class="row">
      <div class="col-xl-12">
        <div class="row">
              <br>
              <div id="grid">
                <%#= link_to root_path, {:remote => true} do  %>
                  <%#= inline_svg "header", class: 'svg' %>
                <%# end %>
              </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="container">
    <br>
    <div class="container">
      <h5>Добро пожаловать на top-comp.com. Данный сайт являет собой примерный калькулятор стоимости самого продвинутого на сегодняшний день персонального компьютера. Если Вы интересуетесь последними достижениями в данной сфере технологий, этот сайт для Вас. Здесь, отметив галочками интересующие устройства, можно примерно оценить стоимость интересующей Вас сборки. Кликнув на изображение устройства, Вы можете оценить девайс внешне и получить краткую справку о его характеристиках, а также ссылку на магазин, где можно его приобрести. Сайт рассчитан на то, чтобы всегда держать Вас в курсе того из чего на сегодня состоит топовый ПК.</h5>
    </div>
    <%= yield %>
</div>
  
<!--  
   <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
              <br>
              <div id="grid">
                <%#= link_to root_path, {:remote => true} do  %>
                  <%#= inline_svg "footer", class: 'svg' %>
                <%# end %>
              </div>
        </div>
      </div>
    </div>
  </div>

  -->
  
  
</body>
</html>
